@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-thumb {
  background-color:#068ea9;
}
html::-webkit-scrollbar-track {
  background-color: white;
}
body {
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  min-height: 50rem;
  overflow-x: hidden;
}
#Exercise {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Exercise_HomeImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Nutrition {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Nutrition_HomeImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Customise {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Customise_Image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#MyWorkout {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/Workout_Image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}
#Registration {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/Register_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Login {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url(./assets/Login_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Profile {
  background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/Profile_HomePage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#EditProfile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./assets/My_Profile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#DeleteProfile {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./assets/Delete_Image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
#Copy {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Copy:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Copy Exercise Link";
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 40px;
  text-align: center;
  transform: translateX(-50%);
  width: 120px;
  z-index: 1;
}
#ProfileIcon {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#ProfileIcon:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "My Profile";
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 40.5px;
  text-align: center;
  transform: translateX(-50%);
  width: 80px;
  z-index: 1;
}
#Bookmark {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Bookmark:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Add to Favourites";
  cursor: pointer;
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 40px;
  text-align: center;
  transform: translateX(-50%);
  width: 120px;
  z-index: 1;
}
#Edit {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Edit:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Edit Workout";
  cursor: pointer;
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 45px;
  text-align: center;
  transform: translateX(-50%);
  width: 90px;
  z-index: 1;
}
#Delete {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
#Delete:hover::after {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  content: "Delete Workout";
  cursor: pointer;
  font-family: 'Instrument Serif', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 45px;
  text-align: center;
  transform: translateX(-50%); 
  width: 120px;
  z-index: 1;
}
